* {
  box-sizing: border-box;
  margin: 0;
}


body {
   background: radial-gradient(circle 60vw at 10vh 30vw, #f23f28, #ff9de3, #b7ff9b 50%, #ffffff 100%);
}

.make-it-pop {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: block;
  padding: 20px 0;
}

.make {
  fill: #2c4116;
  transform: translate(-10px, 0);
}

.it {
  fill: #f23f28;
  transform: translate(-10px, 0);

}

.pop {
  fill: #4c0759;
  transform: translate(0, 30px);
}


/* fill: #e83f0d; */
